.pagina-pricipale{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    text-align: justify;
    background: linear-gradient(
        var(--color-8),
        var(--color-7)
    );
}

.introduzione{
    width: 40vw;
    margin-left: 5%;
}